@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #171616;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: auto;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 73.125rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  display: block;
  background-color: #6CAC3D;
  border-radius: 4px;
  padding: 14px 25px;
  transition: all 0.3s ease 0s;
}
.button__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.button:hover {
  background: #52971F;
}

.button-call {
  border: 1px solid #6CAC3D;
  border-radius: 3px;
  padding: 13px 23px;
  transition: all 0.3s ease 0s;
}
.button-call span {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #6CAC3D;
  transition: all 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .button-call span {
    transition: none;
  }
}
.button-call:hover {
  background-color: #6CAC3D;
}
.button-call:hover span {
  color: #FFFFFF;
}
@media (max-width: 47.99875em) {
  .button-call_green {
    display: block;
    width: 100%;
    background-color: #6CAC3D;
    margin-bottom: 10px;
  }
  .button-call_green span {
    color: #fff;
  }
}
@media (min-width: 47.99875em) {
  .button-call_calc {
    display: none;
    transition: none;
  }
}
@media (max-width: 47.99875em) {
  .button-call {
    width: 100%;
    transition: none;
  }
}

._rotate .menu-bottom__link_arrow::after {
  transform: rotate(180deg);
}
@media (max-width: 47.99875em) {
  ._rotate .menu-bottom__link_arrow::after {
    transform: rotate(90deg);
  }
}

.contacts {
  display: flex;
  flex-direction: column;
}
@media (max-width: 47.99875em) {
  .contacts {
    padding-bottom: 35px;
    padding-left: 40px;
  }
}
@media (max-width: 47.99875em) {
  .contacts_footer {
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.contacts__tel {
  position: relative;
  padding-left: 21px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.contacts__tel::after {
  content: "";
  position: absolute;
  background-image: url(../img/tel.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  left: 0;
}
@media (max-width: 75em) {
  .contacts__tel span {
    display: none;
  }
}
@media (max-width: 61.99875em) {
  .contacts__tel span {
    display: block;
  }
}
.contacts__tel_green-color {
  padding-left: 32px;
  margin-bottom: 4px;
}
.contacts__tel_green-color::after {
  content: "";
  position: absolute;
  background-image: url(../img/phone-call.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 23px;
  left: 0;
}
.contacts__tel_green {
  display: none;
}
@media (max-width: 47.99875em) {
  .contacts__tel_green {
    background-color: #6CAC3D;
    border: 1px solid #6CAC3D;
    border-radius: 3px;
    width: 60px;
    height: 40px;
    flex: 0 1 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.contacts__table {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 75em) {
  .contacts__table {
    display: none;
  }
}
@media (max-width: 61.99875em) {
  .contacts__table {
    display: block;
  }
}
.contacts__table_footer {
  padding-left: 32px;
  margin-bottom: 5px;
}
@media (max-width: 47.99875em) {
  .contacts__table_footer {
    padding-left: 15px;
  }
}
.contacts__link_footer {
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline !important;
  padding-left: 32px;
  color: #6CAC3D;
  transition: all 0.3s ease 0s;
}
.contacts__link_footer:hover {
  text-decoration-line: none !important;
}

.header_mobile {
  padding: 0 15px;
}
@media (max-width: 47.99875em) {
  .header._header-scroll {
    position: fixed;
    top: -200%;
    background-color: #fff;
    width: 100%;
  }
  .header._header-show {
    transition: all 0.3s ease 0s;
    top: 0;
  }
}
@media (max-width: 47.99875em) {
  .header__inner {
    opacity: 0;
    background: rgba(32, 10, 10, 0.55);
    transition: all 0.3s ease 0s;
    width: 0;
    height: 0;
  }
}
@media (max-width: 47.99875em) {
  .header__container {
    opacity: 1;
    visibility: hidden;
    right: -100%;
    transition: all 0.3s ease 0;
  }
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0;
}
.header__logo {
  flex: 0 1 126px;
}
.header__logo img {
  display: block;
  width: 100%;
  object-fit: contain;
}
@media (max-width: 47.99875em) {
  .header__logo {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 61.99875em) {
  .header__menu-top {
    padding: 14px 0;
    border-top: 1px solid #6CAC3D;
  }
}
@media (max-width: 47.99875em) {
  .header__menu-top {
    border: none;
    padding: 0;
  }
}
.header__contacts {
  padding: 0 10px;
}
.header__bottom {
  border-top: 1px solid #6CAC3D;
  border-bottom: 1px solid #6CAC3D;
}
@media (max-width: 47.99875em) {
  .header__bottom {
    border: none;
  }
}
@media (max-width: 47.99875em) {
  .header__menu-bottom {
    margin-bottom: 20px;
  }
}
@media (min-width: 991.8px) {
  .header__social {
    display: none;
  }
}
@media (max-width: 61.99875em) {
  .header__social {
    display: flex;
    justify-content: space-between;
    flex: 0 1 150px;
  }
}
@media (max-width: 47.99875em) {
  .header__social {
    display: none;
  }
}
.header__viber {
  position: relative;
  width: 26px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.header__viber::after {
  position: absolute;
  content: "";
  background: url(../img/viber.svg) no-repeat;
  background-size: contain;
  width: 25px;
  height: 27px;
}
.header__wh {
  position: relative;
  width: 26px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.header__wh::after {
  position: absolute;
  content: "";
  background: url(../img/wh.svg) no-repeat;
  background-size: contain;
  width: 25px;
  height: 27px;
}
.header__telegramm {
  width: 26px;
  position: relative;
  display: flex;
  align-items: center;
}
.header__telegramm::after {
  position: absolute;
  content: "";
  background: url(../img/telegram.svg) no-repeat;
  background-size: contain;
  width: 25px;
  height: 27px;
}

@media (max-width: 47.99875em) {
  .menu-top__body {
    margin-bottom: 30px;
  }
}
.menu-top__list {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .menu-top__list {
    padding: 0;
  }
}
@media (max-width: 47.99875em) {
  .menu-top__list {
    flex-direction: column;
  }
}
.menu-top__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  position: relative;
}
.menu-top__item:not(:last-of-type) {
  margin-right: 24px;
}
@media (max-width: 61.99875em) {
  .menu-top__item:not(:last-of-type) {
    margin-right: 40px;
  }
}
@media (max-width: 47.99875em) {
  .menu-top__item {
    padding: 0px 20px;
  }
  .menu-top__item:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
.menu-top__link {
  position: relative;
}
.menu-top__link:hover::before {
  transform: scaleX(1);
}
.menu-top__link::before {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #2D4872;
  transform: scaleX(0);
}

@media (max-width: 47.99875em) {
  .menu-bottom__body {
    margin-top: 30px;
  }
}
.menu-bottom__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .menu-bottom__list {
    flex-direction: column;
  }
}
.menu-bottom__item {
  padding: 21px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  position: relative;
  flex: 0 1 20%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
@media (any-hover) {
  .menu-bottom__item:hover {
    background-color: #6CAC3D;
  }
  .menu-bottom__item:hover .menu-bottom__link_arrow img {
    transform: rotate(-180deg);
  }
  .menu-bottom__item:hover .menu-bottom__sub-list {
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.25);
    top: 62px;
    padding: 25px 15px 37px 15px;
    height: auto;
    overflow: auto;
    opacity: 1;
    visibility: visible;
    background: #fff;
    min-width: 100%;
    transition: all 0.3s ease 0s;
    transform: scaleY(1);
  }
}
@media (any-hover) and (max-width: 61.99875em) {
  .menu-bottom__item:hover .menu-bottom__sub-list {
    top: 71px;
    padding: 25px 5px 37px 5px;
  }
}
@media (max-width: 61.99875em) {
  .menu-bottom__item {
    padding: 10px 0px;
    font-size: 14px;
  }
}
@media (max-width: 47.99875em) {
  .menu-bottom__item {
    max-width: 100%;
    font-size: 16px;
    padding: 10px 20px;
    text-align: start;
  }
}
.menu-bottom__link {
  display: block;
  text-align: start;
}
@media (max-width: 61.99875em) {
  .menu-bottom__link {
    padding: 6px 33px;
  }
}
.menu-bottom__link_arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-bottom__link_arrow img {
  display: block;
  margin-left: 10px;
  transition: all 0.3s ease 0s;
}
@media (max-width: 47.99875em) {
  .menu-bottom__link_arrow {
    justify-content: start;
  }
  .menu-bottom__link_arrow img {
    display: none;
  }
  .menu-bottom__link_arrow::after {
    position: absolute;
    content: "";
    background: url(../img/arrow.svg) no-repeat;
    background-size: contain;
    width: 12px;
    height: 6px;
    top: calc(50% - 3px);
    transform: rotate(90deg);
    left: -20px;
  }
}
.menu-bottom__sub-list {
  overflow: auto;
  position: absolute;
  visibility: hidden;
  z-index: 1;
  transform: scaleY(0);
  opacity: 0;
  transition: 0.5s ease all;
  transform-origin: top center;
}
.menu-bottom__sub-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding: 13px;
  position: relative;
  text-align: start;
}
.menu-bottom__sub-item:hover::after {
  transform: scale(1, 1);
}
.menu-bottom__sub-item:hover::before {
  transform: scale(1, 1);
}
.menu-bottom__sub-item::before {
  content: "";
  position: absolute;
  transition: transform 0.3s ease;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #6CAC3D;
  border-width: 1px 0 1px 0;
  transform: scaleX(0);
}
.menu-bottom__sub-item::after {
  content: "";
  position: absolute;
  transition: transform 0.3s ease;
  border-width: 0 1px 0 1px;
  transform: scaleY(0);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-color: #6CAC3D;
}
.menu-bottom__sub-item:first-of-type {
  margin-top: -13px;
}
.menu-bottom__sub-item:last-of-type {
  margin-bottom: -13px;
}
.menu-bottom__sub-item:not(:last-of-type) {
  margin-bottom: 3px;
}
@media (max-width: 47.99875em) {
  .menu-bottom__sub-item:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
@media (max-width: 47.99875em) {
  .menu-bottom__sub-item {
    padding: 0;
  }
}
@media (max-width: 61.99875em) {
  .menu-bottom__sub-item {
    font-size: 14px;
    padding: 10px;
  }
}
.menu-bottom__sub-link {
  white-space: nowrap;
}

._active {
  background-color: #6CAC3D;
}
._active .menu-bottom__sub-list {
  box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.25);
  top: 62px;
  padding: 25px 15px 37px 15px;
  height: auto;
  overflow: auto;
  opacity: 1;
  visibility: visible;
  background: #fff;
  min-width: 100%;
  transition: all 0.3s ease 0s;
  transform: scaleY(1);
}
@media (max-width: 61.99875em) {
  ._active .menu-bottom__sub-list {
    top: 71px;
    padding: 25px 5px 37px 5px;
  }
}
._active .menu-bottom__link_arrow img {
  transform: rotate(-180deg);
}
@media (max-width: 47.99875em) {
  ._active {
    background: #fff;
  }
  ._active .menu-bottom__sub-list {
    position: static;
    box-shadow: none;
    padding: 20px 15px 15px 15px;
    height: auto;
    overflow: hidden;
    opacity: 1;
    visibility: visible;
    background: #fff;
    min-width: 200px;
  }
  ._active .menu-bottom__link_arrow::after {
    transform: rotate(0deg);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 35px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #2D4872;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 2px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 2px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 2px);
  }
}

.menu-open .header__inner {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  width: 100vw;
  height: 1000vh;
}
.menu-open .header__container {
  position: absolute;
  visibility: visible;
  opacity: 1;
  right: 0;
  top: 0;
  background-color: #fff;
  padding-top: 45px;
  height: 100vh;
  overflow: auto;
}
@media (min-width: 20em) and (max-width: 47.99875em) {
  .menu-open .header__container {
    width: clamp( 18.125rem , 17.9017757489rem  +  1.1161212554vw , 18.4375rem );
  }
}
@media (max-width: 20em) {
  .menu-open .header__container {
    width: 18.125rem;
  }
}
.menu-open .icon-menu {
  position: absolute;
  top: 10px;
  right: 335px;
}
@media (max-width: 375px) {
  .menu-open .icon-menu {
    right: 280px;
  }
}

.footer {
  color: #fff;
}
.footer__top {
  padding: 33px 0;
  background-color: #6CAC3D;
}
.footer__body {
  padding: 35px 0px 32px 0px;
  background-color: #2E3648;
  border-bottom: solid 1px #CBCBCB;
}
.footer__bottom {
  padding: 26px 0px 27px 0px;
  background-color: #2E3648;
}

.top-footer__inner {
  display: flex;
}
@media (max-width: 47.99875em) {
  .top-footer__inner {
    flex-direction: column;
  }
}
.top-footer__text {
  padding: 0px 10px 0px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  max-width: 570px;
}
@media (max-width: 61.99875em) {
  .top-footer__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    max-width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .top-footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}
.top-footer__btn {
  border: 2px solid #FFFFFF;
  border-radius: 31px;
  width: 203px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 16px 10px;
  transition: all 0.3s ease 0s;
}
.top-footer__btn:hover {
  background-color: #2E3648;
}
@media (max-width: 61.99875em) {
  .top-footer__btn {
    border-radius: 4px;
    flex: 0 0 165px;
    width: 165px;
  }
}
@media (max-width: 47.99875em) {
  .top-footer__btn {
    flex: 0 1 auto;
    width: 100%;
  }
}
.top-footer__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  padding: 0px 10px 0px 10px;
  white-space: nowrap;
  margin-right: 57px;
}
@media (max-width: 61.99875em) {
  .top-footer__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 11px;
  }
}
@media (max-width: 47.99875em) {
  .top-footer__title {
    font-size: 24px;
    line-height: 28px;
    margin-right: 0;
    text-align: center;
  }
}
.top-footer__block {
  display: flex;
}
@media (max-width: 61.99875em) {
  .top-footer__block {
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) {
  .top-footer__block {
    margin-bottom: 20px;
  }
}

.body-footer__items {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .body-footer__items {
    flex-wrap: wrap;
  }
}
@media (max-width: 47.99875em) {
  .body-footer__items {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.body-footer__item_logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .body-footer__item_logo {
    flex-direction: row;
    align-items: flex-start;
    order: 4;
    flex: 0 1 100%;
    margin-top: 41px;
  }
}
@media (max-width: 47.99875em) {
  .body-footer__item_logo {
    flex-direction: column;
    margin-top: 29px;
  }
}
.body-footer__item_a {
  order: 1;
}
@media (max-width: 47.99875em) {
  .body-footer__item_a {
    margin-bottom: 29px;
  }
}
.body-footer__item_b {
  order: 2;
}
@media (max-width: 47.99875em) {
  .body-footer__item_b {
    margin-bottom: 29px;
  }
}
.body-footer__item_c {
  order: 3;
}
.body-footer__logo {
  width: 126px;
}
.body-footer__logo img {
  display: block;
  width: 100%;
}
@media (max-width: 47.99875em) {
  .body-footer__logo {
    margin-bottom: 27px;
  }
}
.body-footer__menu-title {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6CAC3D;
  margin-bottom: 15px;
}
.body-footer__pay {
  display: flex;
  flex-direction: column;
}
.body-footer__text {
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 15px;
  color: #CBCBCB;
}
.body-footer__pay-icons {
  display: flex;
  justify-content: space-between;
}
.body-footer__menu-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  transition: all 0.3s ease 0s;
  color: #CBCBCB;
}
.body-footer__menu-item:hover {
  text-decoration: underline !important;
}
.body-footer__menu-item:not(:last-of-type) {
  margin-bottom: 7px;
}
.body-footer__menu-link {
  transition: all 0.3s ease 0s;
}
.body-footer__sub-menu-item {
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}
.body-footer__sub-menu-item:hover {
  text-decoration: underline !important;
}
.body-footer__sub-menu-item:not(:last-of-type) {
  margin-bottom: 12px;
}
.body-footer__sub-menu-link {
  transition: all 0.3s ease 0s;
}
.body-footer__email {
  margin-bottom: 12px;
}
.body-footer__contact {
  margin-bottom: 12px;
}
.body-footer__links {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  transition: all 0.3s ease 0s;
}
.body-footer__links:hover {
  text-decoration: underline !important;
}
.body-footer__links img {
  display: block;
  margin-right: 12px;
}
.bottom-footer__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .bottom-footer__inner {
    flex-direction: column;
    align-items: center;
  }
}
.bottom-footer__tm {
  display: flex;
}
.bottom-footer__tm span {
  font-size: 14px;
  line-height: 18px;
  color: #CBCBCB;
  padding-right: 10px;
}
@media (max-width: 47.99875em) {
  .bottom-footer__tm span {
    text-align: center;
  }
}
@media (max-width: 61.99875em) {
  .bottom-footer__tm {
    flex-direction: column;
  }
}
@media (max-width: 47.99875em) {
  .bottom-footer__tm {
    margin-bottom: 24px;
  }
}
.bottom-footer__link-info {
  display: inline-block;
  text-decoration: underline !important;
  transition: all 0.3s ease 0s;
}
.bottom-footer__link-info:hover {
  text-decoration: none !important;
}
.bottom-footer__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 149px;
}
@media (max-width: 47.99875em) {
  .bottom-footer__social {
    display: none;
  }
}
@media (max-width: 61.99875em) {
  .bottom-footer__social {
    align-self: center;
  }
}
.bottom-footer__fb {
  width: 8px;
  position: relative;
  display: flex;
  align-items: center;
}
.bottom-footer__fb::after {
  position: absolute;
  content: "";
  background: url(../img/fb.svg) no-repeat;
  background-size: contain;
  width: 8px;
  height: 14px;
}
.bottom-footer__youtobe {
  width: 23px;
  position: relative;
  display: flex;
  align-items: center;
}
.bottom-footer__youtobe::after {
  position: absolute;
  content: "";
  background: url(../img/yt.svg) no-repeat;
  background-size: contain;
  width: 23px;
  height: 23px;
}
.bottom-footer__instagramm {
  width: 18px;
  position: relative;
  display: flex;
  align-items: center;
}
.bottom-footer__instagramm::after {
  position: absolute;
  content: "";
  background: url(../img/in.svg) no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
}
.bottom-footer__telegramm {
  width: 18px;
  position: relative;
  display: flex;
  align-items: center;
}
.bottom-footer__telegramm::after {
  position: absolute;
  content: "";
  background: url(../img/tg.svg) no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
}
.bottom-footer__vk {
  width: 23px;
  position: relative;
  display: flex;
  align-items: center;
}
.bottom-footer__vk::after {
  position: absolute;
  content: "";
  background: url(../img/vk.svg) no-repeat;
  background-size: contain;
  width: 23px;
  height: 13px;
}
.bottom-footer__odnoklassniki {
  width: 15px;
  position: relative;
  display: flex;
  align-items: center;
}
.bottom-footer__odnoklassniki::after {
  position: absolute;
  content: "";
  background: url(../img/ok.svg) no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}
.bottom-footer__politic {
  font-size: 13px;
  line-height: 18px;
  color: #CBCBCB;
}
@media (max-width: 61.99875em) {
  .bottom-footer__politic {
    max-width: 240px;
  }
}
@media (max-width: 47.99875em) {
  .bottom-footer__politic {
    text-align: center;
    margin-bottom: 24px;
  }
}
.bottom-footer__map {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #CBCBCB;
}
@media (max-width: 47.99875em) {
  .bottom-footer__map {
    text-align: center;
  }
}
